body#mapage {
    margin:0;
    padding:0;
    background: url(img/s0_bback2.png), url(img/se8_page_20.jpg) no-repeat center fixed; 
    -webkit-background-size: 10px 64px, cover; /* pour Chrome et Safari */
    -moz-background-size: 10px 64px, cover; /* pour Firefox */
    -o-background-size: 10px 64px, cover; /* pour Opera */
    background-size: 10px 8px, cover; /* version standardisée */ }
/*    
div#principale {
    height: 95%;
    width: 95%;
    background: url(img/se8_page_1.jpg);
    background-size: cover;
    text-align: center;
    vertical-align: middle;
    }*/
    
/*  Tous les li  */
/* ligne 1 */
div#titre1{
    bottom: 86px;
    left: 100px;
    height: 21px;}

li#general1{
    width: 60px;
    bottom: 85px;
    left: 191px;}

li#general2{
    width: 75px;
    bottom: 85px;
    left: 252px;}

li#general3{
    width: 65px;
    bottom: 85px;
    left: 328px;}

li#general4{
    width: 50px;
    bottom: 85px;
    left: 374px;}

li#general5{
    width: 60px;
    bottom: 85px;
    left: 425px;}

/* ligne 2 */
div#titre2{
    bottom: 65px;
    left: 100px;}

li#plan1{
    width: 130px;
    bottom: 64px;
    left: 191px;}


/* ligne 3 */
div#titre3{
    bottom: 44px;
    left: 100px;}

li#coupe1{
    width: 40px;
    bottom: 43px;
    left: 191px;}

li#coupe2{
    width: 60px;
    bottom: 43px;
    left: 232px;}

li#coupe3{
    width: 60px;
    bottom: 43px;
    left: 293px;}

li#coupe4{
    width: 50px;
    bottom: 43px;
    left: 354px;}

li#coupe5{
    width: 40px;
    bottom: 43px;
    left: 405px;}

li#coupe6{
    width: 50px;
    bottom: 43px;
    left: 446px;}

/* ligne 4 */
div#titre4{
    bottom: 22px;
    left: 100px;
    height: 21px;}

li#image1{
    width: 40px;
    bottom: 22px;
    left: 191px;}

li#image2{
    width: 40px;
    bottom: 22px;
    left: 232px;}

li#image3{
    width: 40px;
    bottom: 22px;
    left: 273px;}

li#image4{
    width: 40px;
    bottom: 22px;
    left: 314px;}

li#image5{
    width: 40px;
    bottom: 22px;
    left: 355px;}

li#image6{
    width: 40px;
    bottom: 22px;
    left: 396px;}

