body, html {
  font-family: helvetica neue, sans-serif;
  background: url(img/s0_bblack.png), url('img/s0_DSC_21.jpg') no-repeat center fixed;
  background-size: 10px 8px, cover; 
  color: white;
  margin:0;
  padding:0;
  text-align: center;
}

h1 {
  text-align: center;
  padding-bottom: 40px;
  font-weight: normal;
  font-size: 2.4em;
  font-weight: 200;
  letter-spacing: .1em;
  text-shadow: 0 2px blue;
}

svg {
    margin-top: 350px;
}

.path {
  stroke-dashoffset: 1000;
  stroke-dasharray: 1000;
}

.vide {
    height: 20px;
}


/* Home et langues */

#home {
    position: fixed;
    display: inline-block;
    font-size: 13px;
    bottom: 27px;
    left: 30px;
    color: white;
    text-decoration:none; 
    font-weight: normal;
    opacity: 0.9}

#home:hover {
    opacity: 1;}

div#langue{
    position : fixed;
    top : 30px;
    right: 30px;
    font-size: 14px;
    color: white;}

a#lang{
    text-decoration:none;
    color: white;
    opacity: 0.80;
    }
    
a#lang:hover{
    font-weight: bold; 
    opacity: 1;}



/*  bordure blanche */
rect.top{
    position :fixed;
    top: 0px;
    left: 0px;
    background-color: white;
    width: 100%;
    height: 16px;
}

rect.bottom{
    position :fixed;
    bottom: 0px;
    left: 0px;
    background-color: white;
    width: 100%;
    height: 16px;
}

rect.left{
    position :fixed;
    top: 0px;
    left: 0px;
    background-color: white;
    width: 16px;
    height: 100%;
}

rect.right{
    position :fixed;
    top: 0px;
    right: 0px;
    background-color: white;
    width: 16px;
    height: 100%;
}