@font-face {
}


body, html { 
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, "Open Sans", sans-serif;
}

body#mapage {
    margin:0;
    padding:0;
    background: url(img/s0_bback2.png), url(img/se5_page_30.jpg) no-repeat center fixed; 
    -webkit-background-size: 10px 64px, cover; /* pour Chrome et Safari */
    -moz-background-size: 10px 64px, cover; /* pour Firefox */
    -o-background-size: 10px 64px, cover; /* pour Opera */
    background-size: 10px 8px, cover; /* version standardisée */   
}

#filtergrey{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: 0;
    /*background-color: rgba(0,0,0,0.62); */
}


img#principale { 
  max-height: 94%;
  max-width: 84%;
  padding: 1.5%;
  margin-top: 0.9%;
  padding-left: 7%;
  padding-right: 7%;
  background-color: white;
}


ul {
    margin: 0px;
    padding: 0px;
    display: inline-block;
}

#home {
    position: absolute;
    display: inline-block;
    font-size: 11px;
    bottom: 35px;
    left: 30px;
    color: white;
    text-decoration:none; 
    font-weight: normal;
}

#home:hover {
    font-weight: bold;
}

.titre {
    position: absolute;
    display: inline-block;
    margin: 0px;
    padding: 0px;
    bottom: 0px;
    height: 24px;
    width: 91px;
    text-align: center;
    color: black;
    background-color: white;
}

p#titre {
    margin: 0px;
    margin-top: 6px;
    padding: 0px;
    font-size: 11px;
    font-weight: bold;
    color: #333333;
}


div#blanc1{
    visibility : visible;
    height: calc(100% - 155px);
    text-align: center;
    z-index: 999;
    /* background-color: white;  */
}

div#ensemble {

}



li{
    position: absolute;
    bottom: 0px;
    height: 24px;
    overflow: hidden;
    border: 1px white solid;
    text-align: center;
}

li:hover #type{
    visibility: visible;
}


p#type {
    margin: 0px;
    margin-top: 1px;
    visibility: hidden;
    font-size: 11px;
    font-weight: normal;
    color: white;
}


/*  Tous les li  */
/* ligne 1 */
div#titre1{
    bottom: 105px;
    left: 100px;
    height: 25px;
}

li#general1{
    width: 70px;
    bottom: 104px;
    left: 191px;
}

li#general2{
    width: 50px;
    bottom: 104px;
    left: 262px;   
}

li#general3{
    width: 80px;
    bottom: 104px;
    left: 313px;
}

li#general4{
    width: 50px;
    bottom: 104px;
    left: 374px;
}

li#general5{
    width: 60px;
    bottom: 104px;
    left: 425px;  
}

/* ligne 2 */
div#titre2{
    bottom: 80px;
    left: 100px;
}

li#plan1{
    width: 70px;
    bottom: 79px;
    left: 191px;
}

li#plan2{
    width: 40px;
    bottom: 79px;
    left: 262px;   
}

li#plan3{
    width: 47px;
    bottom: 79px;
    left: 303px;
}

li#plan4{
    width: 40px;
    bottom: 79px;
    left: 351px;
}

li#plan5{
    width: 40px;
    bottom: 79px;
    left: 392px;
}

li#plan6{
    width: 40px;
    bottom: 79px;
    left: 433px;
}

li#plan7{
    width: 40px;
    bottom: 79px;
    left: 474px;
}


/* ligne 3 */
div#titre3{
    bottom: 55px;
    left: 100px;
}

li#coupe1{
    width: 40px;
    bottom: 54px;
    left: 191px;
}

li#coupe2{
    width: 60px;
    bottom: 54px;
    left: 232px;   
}

li#coupe3{
    width: 60px;
    bottom: 54px;
    left: 293px;
}

li#coupe4{
    width: 50px;
    bottom: 54px;
    left: 354px;
}

li#coupe5{
    width: 40px;
    bottom: 54px;
    left: 405px;  
}

/* ligne 4 */
div#titre4{
    bottom: 29px;
    left: 100px;
    height: 25px;
}

li#image1{
    width: 40px;
    bottom: 29px;
    left: 191px;
}

li#image2{
    width: 50px;
    bottom: 29px;
    left: 232px;   
}

li#image3{
    width: 60px;
    bottom: 29px;
    left: 283px;
}

li#image4{
    width: 45px;
    bottom: 29px;
    left: 344px;
}

li#image5{
    width: 55px;
    bottom: 29px;
    left: 390px;
}




/* La partie texte  */
#introduction {
    position: absolute;
    top: 100%;
    margin-top: -130px;
    left: 560px;
    bottom: 0px;
    color: white;
    
    
}

p#int_titre {
    margin: 0px;
    font-size: 15px;
    font-weight: bold;
    color: white;
  
}

div#int_text {
    margin-top: -1px;
    width: 87%;
    max-width: 680px;
    min-width: 150px;
    padding-right: 40px;
    padding-bottom: 20px;
}

p#int_text {
    font-size: 11px;
    text-align: justify;
}
