@font-face {
}

body,html {
    height: 98%;
	width: 99%;
	font-family: 'FontSuper', Arial, Helvetica, "Open Sans", sans-serif; 
	background: url(img/s0_bblack.png), url('img/s0_DSC_21.jpg') no-repeat center fixed;
	/*background-repeat:no-repeat;
	background-attachment: fixed; */
	background-size: 10px 8px, cover; 
	
	/*  ET LA VIDEO ??????????? */
}

h1{ position :fixed;}

h2{ position :fixed;}

h3{ position : fixed;}

  
  
div#langue{
    position : fixed;
    top : 30px;
    right: 30px;
    font-size: 14px;
    color: white;}

a#lang{
    text-decoration:none;
    color: white;
    opacity: 0.80;
    }
    
a#lang:hover{
    font-weight: bold; 
    opacity: 1;}
    
#loader{
    position :fixed;
    left: 50%;
    top: 50%;
    margin-left:-16px;
    margin-top:-16px;
    }

#chart {
    width:  760px;
    height: 100%; 
    margin-left: auto;
    margin-right: auto;}

.general{
    position:absolute;
    /* Centrer verticalement */
    top: 50%;
    margin-top: -267px;
    }

text {
  pointer-events: none;}

.grandparent text { /* header text */
    font-weight: normal;
    font-size: 14px;
    opacity: 1;}

.grandparent rect {
    /*fill: #fff;*/
    opacity:1;}
  
.title rect {
    fill: #fff;}

text.goingback {
    opacity:0.8}

        .grandparent:hover rect{
          opacity : 1;}

        .grandparent:hover text.goingback{
          opacity : 1}

rect { /* header rectange */
  fill: none;
  stroke: #fff;}

rect.parent, .grandparent rect {
  stroke-width: 1px;}

.children rect.parent,
.grandparent rect {
  cursor: pointer;}

rect.parent {
  pointer-events: all; 
  fill: rgba(250,250,250,0.00);}

/* dans les rectangles */
.foreignobj {
   overflow: hidden;}

div.textapparait { /*  */
    display: inline-block;
    font-size: 19px;
    font-weight: normal; 
    margin: auto;
    margin-top: 10px;
    margin-left: -2px;
    line-height:15px;
    max-width: 250px;
    visibility : visible;
    color: white;
    text-align: left;
    overflow : hidden;
    opacity: 0;}


img.imgapparait {
    display: inline-block;
    visibility : visible;
    max-width: 650px;
    max-height: 655px;
    padding: 0px;
    opacity: 0;}

.textdiv { /* titre des textes in the boxes */
    text-align: left;
    font-size: 14px;
    padding-top: 7px;
    padding-left: 9px;
    font-weight: normal;
    font-family: "FontSuper", Arial, Helvetica, "Open Sans", sans-serif; 
    color: #fff;}

p#small {
    font-size: 10px;
    margin: 1px;}
    
p#small2 {
    font-size: 15px;
    margin: 1px;
    line-height: 20px;}

div.tesst{
    display: block;
    margin-left: 30px;
    margin-top: 15px;
	text-align:left;
	overflow:hidden;}

/* au survol des rectangles*/

        .children:hover rect.parent {
          fill: rgba(256,256,256,0.01);}
        
        .children:hover .stars{ 
        }
        
        .children:hover div.textapparait{
            opacity : 1;
            visibility: visible;}
            
        .children:hover div.tesst{
            display: block;
            visibility: visible;}
        
        .children:hover img.imgapparait{
            visibility: visible;
            opacity: 1;}

        .children:hover .textdiv {
            /*color: #5a5a5a;*/
            font-weight: normal;}
            

rect.child {
    visibility : hidden;}

/*  infos de bas de page */
    div#info {
        position: fixed;
        bottom: 14px;
        width: 700px;
        left: 50%;
        margin-left: -350px;
        color: white;
        font-size: 15px;}

    p#info {
        text-align: center;
        margin: 0px;
        margin-bottom: 3px;}

    p#soustitre {
        text-align: center;
        margin: 0px;
        margin-bottom: 17px;
        font-size: 12px;}
    
    a#plusgros{
        position: relative;
        font-size: 22px;
        top: 2px;}

/*  bordure blanche */

rect.top{
    position :fixed;
    top: 0px;
    left: 0px;
    background-color: white;
    width: 100%;
    height: 16px;
}

rect.bottom{
    position :fixed;
    bottom: 0px;
    left: 0px;
    background-color: white;
    width: 100%;
    height: 16px;
}

rect.left{
    position :fixed;
    top: 0px;
    left: 0px;
    background-color: white;
    width: 16px;
    height: 100%;
}

rect.right{
    position :fixed;
    top: 0px;
    right: 0px;
    background-color: white;
    width: 16px;
    height: 100%;
}

